body {
	background: white;
	background-size: 400% 400%;
	height: 100vh;
}
#title{
	background: linear-gradient(-45deg, #03f237, #6bf06d, #00ce82, #19eeb2);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}
.frame {
	border-right: 1px solid #e0e0e0;
}
.link-block-20 {
	justify-content: center;
	align-items: center;
	margin-top: 48px;
	text-decoration: none;
	display: flex;
}
.button-primary-outline {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border: 1px solid #00ce82;
    border-radius: 8px;
    align-items: center;
    padding: 17px 16px;
    display: flex;
}
.heading-32 {
    color:#00ce82;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}
.carousel {
	background: #F1F3FF;
	width: 832px;
	height: 270px;
	border-radius: 8px;
	margin: auto;
}
.carousel-control-prev-icon{
	background-image: url("assets/Vector.svg")
}
.carousel-control-next-icon{
	background-image: url("assets/Vector-kanan.svg");
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
